@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

body {
    /* background-color: rgb(142, 183, 211); */
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 24px;
}

.card-preview-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.big-button {
    padding: 5px 15px 5px 15px;
    font-size: 1.1em;
}

.card-container {
    align-items: center;
    background-color: #fff;
    background-image: url("./card-borders/A.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 42px;
    height: 680px;
    margin: 16px;
    padding-top: 20px;
    width: 500px;
}

.b-card {
    background-image: url("./card-borders/B.png");
}

.c-card {
    background-image: url("./card-borders/C.png");
}


.d-card {
    background-image: url("./card-borders/D.png");
}

.top-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
}

.value-container, .category-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 50%;
}

.value-container {
    justify-content: end;
}

.category-container {
    justify-content: start;
}

.value-marker {
    display: flex;
    flex-direction: row;
    font-size: 54px;
    margin-left: 8px;
    margin-right: 8px;
}

.category-marker {
    border-radius: 60px;
    font-size: 30px;
    padding: 4px 16px 4px 16px;
}

.weapon-marker {
    background-color: #a55;
    color: #fff;
}

.instant-marker {
    background-color: #08c;
    color: #fff;
}

.skill-marker {
    background-color: #dc1;
}

.value-container > .value-marker > img {
    height: auto;
    margin-left: 8px;
    height: 60px;
    width: 60px;
}

.card-name {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 90%;
}

.card-picture {
    opacity: .5;
    width: 350px;
}

.compact > .card-picture {
    width: 245px;
}

.extra-compact > .card-picture {
    width: 200px;
}

.resource-icon {
    width: 120px;
}

.super-compact > .resource-icons > .resource-icon {
    width: 100px;
}

.resource-description {
    font-size: 28px;
    margin: 32px;
    margin-top: 0px;
}

.super-compact > .resource-description {
    font-size: 24px;
}

.nondisplay {
    display: none;
}

.paper-canvas {
    background-color: #fff;
    width: 60%;
}